#3col-Esq {
    display:inline; /*Bug da margem dupla para floats no IE*/ 
    float:left;
    width:35%;
	position:relative;
    }
#3col-Cent {
    float:left;
    width:29%;
    }
#3col-Dir {
    float:left;
    width:35%;
    }
#bgRodape {
    width: 100%;
    float: left;
    position: relative;
    background-color: #101010;
    padding: 20px;
	margin-bottom: -40px;
}	
#bg3Itens {
    width: 100%;
    float: left;
    position: relative;
    background-color: #141414;
}
#bgQuemSomos {
    width: 100%;
    float: left;
    position: relative;
    height: auto;
    background: url(/wp-content/uploads/2017/03/home-quemsomos.jpg);
    background-color: #010a12;
}
#bgPlanos {
    width: 100%;
    float: left;
    position: relative;
    height: auto;
    background-color: #010a12;
}
#bgCopyright {
    width: 100%;
    float: left;
    position: relative;
    height: auto;
    background-color: #000000;
}
#conteudo-1C {
    float:left;
    width:35%;
}
#conteudo-2C {
    float:right;
    width:65%;
}
#conteudo-2-1C {
    float:left;
    width:51%;
}
#conteudo-2-2C {
    float:right;
    width:49%;
}

#conteudo-1R {
    float:left;
    width:35%;
}
#conteudo-2R {
    float:right;
    width:65%;
}
#conteudo-2-1R {
    float:left;
    width:51%;
}
#conteudo-2-2R {
    float:right;
    width:49%;
}
.bgGeral {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
.boxQuemSomos {
    width: 70%;
    text-align: center;
    margin: 0 auto;    
}
.boxPlanos {
    width: 100%;
    text-align: center;
    margin: 0 auto;    
}
.boxCopyright {
    width: 100%;
    text-align: center;
    margin: 0 auto;    
}
.box3Itens {
    width: 85%;
    text-align: center;
    padding: 30px;
    height: 170px;
    margin: 0 auto;
}
.boxRodape {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
.foto3col-Esq {
    width: 100%;
    text-align: center;
    color: #666;
    margin: 0 auto;
}
.imgIcones {
    float: left;
    text-align: left;
    color: #666;
    margin-right: 20px;
    margin-top: 10px;
}
.foto3col-Cent {
    float: left;
    text-align:left;
    margin: 0 auto;
    padding: 10px 10px 15px 0
}
.foto3col-Dir {
    float: left;
    text-align:left;
    margin: 0 auto;
    padding: 10px 10px 15px 0
}
.txt3col {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 20px;
    width: 100%;
    text-align:center;
    color: #9f9f9f;
    vertical-align:middle;
    padding-bottom: 30px;
    margin: 0 auto;
}
.txt3col-center {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 20px;
    width: 100%;
    text-align:center;
    color: #9f9f9f;
    vertical-align:middle;
	padding-bottom: 30px;
	margin: 0 auto;
}
.txtRodape {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #aaaaaa;
    vertical-align:middle;
    list-style-type: none;
    margin-left: -10px;
}
.txtRodape2 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #aaaaaa;
    vertical-align:middle;
    list-style-type: none;
    margin-left: -10px;
}
.txtRodape3 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #ffffff;
    vertical-align:middle;
    list-style-type: none;
}
.txtRodapeEsq {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #aaaaaa;
    vertical-align:middle;
    list-style-type: none;
}
.txtRodapeDir {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #aaaaaa;
    vertical-align:middle;
    list-style-type: none;
}
.txtQuemSomos {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;	
    line-height: 24px;
    text-align: left;
    color: #9f9f9f;
    padding-top: 20px;
    padding-bottom: 20px;
}
.txtPlanos {
    width: 50%;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    text-align: center;
    color: #9f9f9f;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.txtCopyright {
    width: 69%;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 7px;
    text-align: left;
    color: #9f9f9f;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.titQuemSomos {
    font-size: 34px;
	font-family: 'Lato', sans-serif;
	font-weight:normal;
	text-transform: uppercase;
	width: 100%;
	text-align:left;
	color: #9f9f9f;
	vertical-align:middle;
	margin-top: 60px;
}
.titPlanos {
    font-size: 34px;
	font-family: 'Lato', sans-serif;
	font-weight:normal;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	color: #9f9f9f;
	vertical-align: middle;
	margin-top: 35px;
	margin-bottom: 25px;
}
.linhaQuemSomos {
	border-bottom: 2px solid #fb4f14;	
	width: 7%;
}
.linhaPlanos {
	border-top: 2px solid #fb4f14;	
	width: 7%;
	margin: 0 auto;
}
.botaoQuemSomos {
	float: left;
	padding:12px 20px 12px 20px;
	background-color:#fb4f14;
	color:#ffffff;
	border-radius:3px;
	cursor:pointer;
	font-family:'Lato'; 
	font-weight:bold; 
	font-size:16px; 
	text-align: center;
	text-decoration: none;
	margin: 15px 0 50px 0;
	margin-top: 15px;
	margin-bottom: 50px;
	justify-content: center;
	letter-spacing: 1px;
}
a.botaoQuemSomos:hover {
	color:#ffffff !important; 
	background:#cc4010; 
	text-decoration: none;
	}
a.botaoQuemSomos:link {
	color:#ffffff !important; 
	background:#cc4010; 
	text-decoration: none;
}
.botaoPlanos {
	float: left;
	padding:12px 20px 12px 20px;
	background-color:#fb4f14;
	color:#ffffff;
	border-radius:3px;
	cursor:pointer;
	font-family:'Lato'; 
	font-weight:bold; 
	font-size:16px; 
	text-align: center;
	text-decoration: none;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: 42%;
	justify-content: center;
	letter-spacing: 1px;
}
a.botaoPlanos:hover {
	color:#ffffff; 
	background:#cc4010; 
	text-decoration: none;
	}
a.txt3col:hover {
	color:#ffffff !important; 
	text-decoration: none;
	margin: 0 auto;
	}
a.txt3col:link {
	color:#9f9f9f; 
	text-decoration: none;
	margin: 0 auto;
	}

.txth1Login {
	font-size:2.3em; 
	color: #e50914;
	padding-bottom:13px;
}
.inputLogin {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    color: #000;
    line-height: 18px;
    padding: 10px 11px;
    height: 44px;
}
.inputLogin:focus {
    border: solid 1px #808080;
}
.login-form {
    margin-bottom: 10px;
}
.login-content {
    padding-top: 20px;
    background-color: #f3f3f3;
}
.imgPlanos {
    text-align: center;
    margin-top: 30px;
}
.txtPlanosPassos {
    font-family: Lato;
    font-size: 1.7em;
    line-height: 24px;
    }
.titlePassos {
    font-family: Lato;
     font-weight: 800;
    font-size: 1.8em;
    line-height: 24px;
    margin-bottom: 1em;
}
.txtBodyPassos {
    font-family: Lato;
    margin: 20px 0 20px 0;
    font-size: 21px;
    line-height: 24px;
}
.btnPassos {
    min-height: 60px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 700;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    width: 100%;
    font-size: 20px;
    padding: 17px 8em;
    min-width: 112px;
    background-color: #fb4f14;
}
.btnPassos- {
    width: 46%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #fb4f14;
    display: block;
    line-height: 18px;
    padding: 20px 11px;
    margin: 0 auto;
    }
.btnPassos33 {
    width: 77%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #fb4f14;
    display: block;
    line-height: 18px;
    padding: 20px 11px;
}
.btnPassos23 {
    width: 77%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #fb4f14;
    display: block;
    line-height: 18px;
    padding: 20px 11px;
    }
a.btnPassos:hover {
    color: #ffffff;
    background: #cc4010;
    text-decoration: none;
}
a.btnPassos23:hover {
    color: #ffffff;
    background: #cc4010;
    text-decoration: none;
}
a.btnPassos33:hover {
    color: #ffffff;
    background: #cc4010;
    text-decoration: none;
}
.containerBotaoPassos {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.selBorderPlanos {
    padding: 3px;
    border: 2px solid transparent;
    max-width: 120px;
    margin: 0 auto;
}
.cellPlanos {
    font-family: Lato;
    font-size: 1.5em;
    line-height: 110px;
    text-align: center;
    vertical-align: middle;
    opacity: .6;
    padding: 3px;
    border: 2px solid #fff;
    max-width: 120px;
    margin: 0 0 20px 0;
    width: 120px;
    height: 120px;
    background-color: #fb4f14;
    color: #fff;
    cursor: pointer;
}
.cellPlanosSelected {
    font-family: Lato;
    font-size: 1.5em;
    line-height: 110px;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
    padding: 3px;
    border: 3px solid #f3f3f3;
    max-width: 120px;
    margin: 0 0 20px 0;
    width: 120px;
    height: 120px;
    background-color: #fb4f14;
    color: #fff;
    cursor: pointer;
    outline: 2px solid #fb4f14;
}
.topBtnPlanos {
    margin-top: 50px;
}
.topBotBtnPassos23 {
    margin-top: 30px;
    margin-bottom: 100px;
}
.topBotBtnPassos33 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.separadorplanos {
    border-bottom: 1px solid #dedede;
}
.txtPlanos13Esq{
    font-family: Lato; 
    font-weight: normal; 
    font-size: 17px; 
    color: #333333; 
    padding: 15px 0 15px 0;
    text-align: left;
}
.txtPlanos33Esq{
    font-family: Lato; 
    font-weight: bold; 
    font-size: 17px; 
    color: #333333; 
    padding: 15px 0 15px 0;
    text-align: left;
}
.txtPlanos33Dir{
    font-family: Lato; 
    font-weight: bold; 
    font-size: 17px; 
    color: #333333; 
    padding: 15px 0 15px 0;
    text-align: right;
}
.txtPlanos13 {
    font-family: Lato; 
    font-weight: normal; 
    font-size: 17px; 
    color: #9e9e9e; 
    padding: 15px 0 15px 0;
    text-align: center;
}
.txtPlanos33 {
    font-family: Lato; 
    font-weight: normal; 
    font-size: 17px; 
    color: #333333; 
    padding: 15px 0 15px 0;
    text-align: center;
}
.txtPlanosTermos33 {
    width: 77%;
    font-family: Lato; 
    font-weight: normal; 
    font-size: 14px; 
    color: #808080; 
    padding: 15px 0 15px 0;
    text-align: left;
    margin-top: 10px;
}
.txtPlanos13Sel {
   font-family: Lato; 
   font-weight: normal; 
   font-size: 17px; 
   color: #fb4f14; 
   padding: 15px 0 15px 0;
   text-align: center;
   }
.borderBPlanos {
    border-bottom: 1px solid #cccccc; 
}
.iconPlanosCinza {
    color: #9e9e9e; 
    padding: 15px 0 15px 0;
    text-align: center;
}
.iconPlanosLaranja {
   color: #fb4f14; 
   padding: 15px 0 15px 0;
   text-align: center;
}
.iconPasso3Cinza {
   color: #cdcdcd; 
   text-align: center;
   vertical-align: middle;
   cursos: pointer;
   text-decoration: none;
}
.inputLogin2de3 {
    width: 77%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    color: #000;
    line-height: 18px;
    padding: 20px 11px;
    margin-top: 15px;
}
.inputLogin3de3 {
    width: 77%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    color: #747474;
    line-height: 18px;
    padding: 20px 11px;
    margin-top: 15px;
}
.Passo33 {
    cursor: pointer;
    height: 60px;
    line-height: 60px;
}
.txtPasso33 {
    text-align: left;
    padding: 0;
    position: relative;
}
.rdPassos33 {
    display: block;
    background-color: #fff;
    padding: 20px 3px 20px;
    margin: 5px 0;
    border: 2px solid #ccc;
    }
.boxPgto {
    min-height: 60px;
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-weight: normal;
    border: solid 2px #cdcdcd;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    margin: 5px auto;
    width: 100%;
    font-size: 17px;
    padding: 5px 1em;
    background-color: #ffffff;
}
.txtPgto {
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
a.txtPgto hover {
    color: #333333;
    text-decoration: none important!;
}
.containerPage404 {
    padding: 70px; 
    margin: 10%; 
    background-color: #dddddd; 
    text-align: center;
}
.topContainerPassos {
    padding: 5em;
}
.containerPlanoValor {
    width: 77%;
}
#containerRodape {
    background-color:#0f0f0f;
    padding: 22px 0 22px 0;
    margin-top: -40px;
}
.session-rodape{
    background-color: #0f0f0f;
}
.session-rodape ul li a{
    color:#9f9f9f; 
}
.tituloLogadaLaranja {
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #fb4f14;
    font-weight: normal;
    font-size: 1.4vw;
    text-decoration: none;
    display: inline-block;
    min-width: 6em;
    margin: 0 4% .5em 4%;
}
.tituloLogadaCinza {
    font-family: 'Lato', sans-serif;
    color: #a2a2a2;
    font-weight: bold;
    text-align: left;
    font-size: 1.4vw;
    text-decoration: none;
    display: inline-block;
    min-width: 6em;
    margin: 0 4% .5em 4%;
}
.iconeTituloLogada {
    float: left;
    margin-right: 1%;
}
.videos-destaques {
    float: left; 
    width: 100%;
    padding: 0 60px !important;
}
.containerPage404 {
    padding: 70px;
    background-color: #dddddd;
    text-align: center;
    margin: 4% auto;
    width: 40%;
}
.page-template p li{
    font-family: 'Lato', sans-serif !important;
    font-size: 15px !important;
    color: #333333 !important;
    line-height: 1.5 !important;
    background-color: #f3f3f3 !important;
}
.page-home-inicial {
    width: 100% !important;
    padding: 0 !important;
    background-color: #010a12;
}
.page a {
    color: #ffffff !important;
}

.cd-main-header.fixed{
	position:fixed;
	top:0;
	left:0;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cd-nav-container .menu-navegar {
  background:url(/wp-content/uploads/icone-navegar.png) left center no-repeat;
  padding:0 0 0 20px;
}
.sub-menu{
 	display:none;
}
.menu-item-1:hover .sub-menu{ 
 	display:block; 
}
.menu-item-1 .sub-menu{
	position:fixed;
	left:22%;
	top:50px;
	padding:0 10px;
	width:75%;
	opacity:0.8;
	background:#141414 url(/wp-content/uploads/seta-navegacao-full.png) top left no-repeat;

}
.menu-item-1 .sub-menu .sub-menu-item-container{
	float:left;
	padding:25px 5px 10px;
	width:33%;
	list-style:none;
}
.sub-menu .sub-menu-item-container ul li:nth-child(2) a{
	color:#ff4e01;
}
.cd-main-content {
    overflow: hidden;
    padding-bottom: 0 !important;
}

.sub-menu-item-container ul li a{
	font-size: 1.0em;
	line-height: 16px;
    	padding: 5px 10px;
    	height:auto;
	white-space: initial;
}
#cd-primary-nav{
	padding: 0 10px 0 0;
	width:60%;
}
#cd-primary-nav .menu-item{
	float:right;
	width:17%;
}
.menu-item-5 {
	 margin-right: -10%; !important;
}
.menu-usuario {
	margin-left: 3%;
	margin-top: 4%;
}
.page-kids-inicial {
    width: 100% !important;
    padding: 0 !important;
    background-color: #ffffff;
}

.video-header-archive .pull-left{
	margin:20px 0;
}