body{
	overflow-X:hidden;
}

#section1 {
    background-color: #ffffff;
}
#section2 {
    background-color: #3a3a3a;
    width: 100%;
    padding-top: 3.5em;
}
#section3 {
    background-color: #ffffff;
}
#section4 {
    padding: 0 !important;
    background: url(/wp-content/uploads/img-background-linha4.jpg) top center no-repeat;
    background-color: #1c1c1c !important;
    margin: 0 auto;
}
#section5 {
    background-color: #d7d7d7;
    padding: 10px 10px 50px 10px;
}
#section6 {
    background-color: #efeeec;
}

#container-home-btn {
    text-align: center;
    width: 55%;
}
#container-home-btn-linha4 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3em;
}
#container-home-btn-linha6 {
    margin: 2.1em auto;
    padding-left: 31px;
}
#conteudo-gratuito {
    padding: 0 15px 0 30px;
}
#lisemstyle {
    list-style-type: none;
}
.container-home {	
    width: 1170px;
}
.titulo-homeok {
    color: #9fc54c;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    margin-left: 21px;
}
.titulo3-homeok {
    color: #9fc54c;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    margin-left: 11px;
}
.titulo-home-linha1ok {
    color: #333333;
    font-size: 1.7em;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    padding: 0 30px 0 30px;
}
.titulo-home-linha3ok {
    color: #333333;
    font-size: 1.7em;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    padding: 0 30px 0 20px;
}
.txt-home-linha1ok {
    color: #777777;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 2.5em;
    padding: 0 30px 0 30px;
}
.txt-home-linha3ok {
    color: #777777;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 2.5em;
    padding: 0 30px 0 20px;
}
.txt-home-autor-linha3ok {
    color: #777777;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    padding: 0 30px 0 20px;
    margin-bottom: 0.6em;
}
.titulo-home-linha2ok {
    color: #a2a2a2;
    font-size: 1.7em;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    padding: 0 30px 0 30px;
}
.txt-home-linha2ok {
    color: #777777;
    font-size: 1.1em;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    margin-bottom: 2.5em;
    padding: 0 30px 0 30px;
}
.btn {
    font-size: 1.2em !important;
}
.txt-home-linha4ok {
    color: #f0f0f0;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1em;
    margin-top: 1%;
}
.txt-home-linha6 {
    color: #686e72;
    font-size: 1.4em;
    font-family: 'Lato', sans-serif;
    float: left;
    margin: 2.6em 1em 1em 1.4em
}
.titulo-home-linha4 {
    color: #fcb801;
    font-size: 3.7em;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    margin-top: 0.8em;
    margin-bottom: 0.2em
}
.txt-home-linha4 {
    color: #f0f0f0;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    padding-right: 2%;
    margin-bottom: 1em;
    margin-top: 1%;
}
.titulo2-home-linha2 {
    color: #fcb801;
    font-size: 2.68em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-top: -0.4em;
    margin-bottom: 0.2em;
    letter-spacing: 0.57em;
}
.titulo3-home-linha2 {
    color: #fcb801;
    font-size: 3.6em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 0.15em;
}





.img-responsive {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.txt-home-esquerda-linha2 {
    color: #a2a2a2;
    font-size: 1.1em;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1em;
    line-height: 1.4em;
}
.espacamento-linha1 {
    margin-top: 1em;
}
.col-sm-10- {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.btn-home {
    width: 94%;
    box-sizing: border-box;
    font-size: 1.2em !important;
    font-family: 'Lato', sans-serif;
    color: #ffffff !important;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #83a23e !important;
    display: block;
    line-height: 18px;
    padding: 12px 11px !important;
    cursor: pointer;
}
a.btn-home:hover {
    color: #6d8734 !important;
    background: #cc4010;
    text-decoration: none;
}
.btn-home4 {
    box-sizing: border-box;
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    color: #2a2a2a !important;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #fcb801 !important;
    display: block;
    line-height: 18px;
    padding: 12px 40px !important;
    margin-bottom: 1.7em;
    cursor: pointer;
}
a.btn-home4:hover {
    color: #202020 !important;
    background: #d09801;
    text-decoration: none;
}
.btn-home6 {
    box-sizing: border-box;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    color: #ffffff !important;
    font-weight: 400;
    float: left;
    text-decoration: none;
    border-radius: 3px;
    background-color: #74a331 !important;
    display: block;
    line-height: 18px;
    padding: 18px 30px !important;
    letter-spacing: 0.5px !important;
    cursor: pointer;
}
a.btn-home6:hover {
    color: #f5f5f5 !important;
    background: #749037;
    text-decoration: none;
}
.linha3-left {
    margin-left: -6%;
}
.linha5-left {
    margin-left: 4.4%;
}
.linha3-right {
    margin-right: -6%;
}
.linha3-right {
    margin-right: -6%;
}
.linha3-pad-left {
   padding-left: 6%;
}
.titulo3-home {
    color: #9fc54c;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    margin-left: 4.2%;
}
.titulo5-home {
    color: #333333;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    margin-left: 2%;
}
.textwidget {
    padding: 0 !important;
    background: url(/wp-content/uploads/bg-rodape-cinebrasil.jpg) top center repeat-x;
    background-color: #0f0f0f !important;
    margin: 0 auto;
}
.txtTituloRodape {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #fca40c !important;
    vertical-align:middle;
    list-style-type: none;
}
.txtRodape {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #777777 !important;
    vertical-align:middle;
    list-style-type: none;
    margin-top: 2.4em;
}
.txtRodapeBottom {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #777777 !important;
    list-style-type: none;
    margin-top: 0.3em;
    margin-left: 4%;
}
.txtRodape2 {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #777777 !important;
    vertical-align:middle;
    list-style-type: none;
    margin-left: -0.7em;
    padding-left: 4em;
    margin-top: 2.4em;
}
.txtTituloRodape2 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #fca40c !important;
    vertical-align:middle;
    list-style-type: none;
    margin-left: -1.2em;
    padding-left: 4em;
}
.txtRodape3 {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 22px;
    width: 100%;
    text-align: left;
    color: #777777 !important;
    vertical-align:middle;
    list-style-type: none;
    padding-left: 20px;
}
a.txtRodape3:hover {
    color: #fca40c;
    text-decoration: none;
}
.txtTituloRodape3 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    line-height: 35px;
    width: 100% !important;
    text-align: left;
    color: #fca40c !important;
    vertical-align:middle;
    list-style-type: none;
    padding-left: 20px;
    margin-top: 2.4em;
}

.txtTituloRodape2 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #fca40c !important;
    vertical-align:middle;
    list-style-type: none;
    margin-left: -1.2em;
    padding-left: 4em;
}


.txtRodapeEsq {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #777777;
    vertical-align:middle;
    list-style-type: none;
}
.txtRodapeDir {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #777777;
    vertical-align:middle;
    list-style-type: none;
}
.containerPage404 {
    padding: 70px;
    background-color: #e8e8e8;
    text-align: center;
    margin: 8% auto;
    width: 40%;
}

#3col-Esq {
    display:inline; /*Bug da margem dupla para floats no IE*/ 
    float:left;
    width:35%;
	position:relative;
    }
#3col-Cent {
    float:left;
    width:29%;
    }
#3col-Dir {
    float:left;
    width:35%;
    }
#bgRodape {
    width: 100%;
    float: left;
    position: relative;
    background-color: #101010;
    padding: 20px;
	margin-bottom: -40px;
}	
#bg3Itens {
    width: 100%;
    float: left;
    position: relative;
    background-color: #141414;
}
#bgQuemSomos {
    width: 100%;
    float: left;
    position: relative;
    height: auto;
    background: url(/wp-content/uploads/2017/03/home-quemsomos.jpg);
    background-color: #010a12;
}
#bgPlanos {
    width: 100%;
    float: left;
    position: relative;
    height: auto;
    background-color: #010a12;
}
#bgPlanosHome {
    padding: 1.5em;
    background: #010a12;
}
#containerBotaoPlanos {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}
#bgCopyright {
    width: 100%;
    float: left;
    position: relative;
    height: auto;
    background-color: #000000;
}
#conteudo-1C {
    float:left;
    width:35%;
}
#conteudo-2C {
    float:right;
    width:65%;
}
#conteudo-2-1C {
    float:left;
    width:51%;
}
#conteudo-2-2C {
    float:right;
    width:49%;
}
#bgColorHome {
    background: #0f0f0f;
}
#conteudo-1R {
    float:left;
    width:35%;
}
#conteudo-2R {
    float:right;
    width:65%;
}
#conteudo-2-1R {
    float:left;
    width:51%;
}
#conteudo-2-2R {
    float:right;
    width:49%;
}
.linha-facebook {
    border-top: 1px solid #cdcdcd;
    margin: 20px 0 15px -20px;
    width: 100%;
    list-style-type: none;
    float: center;
    text-align: center;
}
#lisemstyle {
    list-style-type: none;
}
#lembrar {
    margin-right: 0px;  
}
#rodape-interno {
    bottom: 0;
}
.bgGeral {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
.bg3ItensHome {
    background: #ffffff;
}
.bgItemHome {
    background: #0f0f0f;
}
.boxQuemSomos {
    width: 70%;
    text-align: center;
    margin: 0 auto;    
}
.boxPlanos {
    width: 100%;
    text-align: center;
    margin: 0 auto;    
}
.boxCopyright {
    width: 100%;
    text-align: center;
    margin: 0 auto;    
}
.box3Itens {
    width: 85%;
    text-align: center;
    padding: 30px;
    height: 170px;
    margin: 0 auto;
}
.boxRodape {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
.foto3col-Esq {
    width: 100%;
    text-align: center;
    color: #666;
    margin: 0 auto;
}
.imgIcones {
    float: left;
    text-align: left;
    color: #666;
    margin-top: 5px !important;
    margin-bottom: 45px !important;
    padding-left: 19px !important;
}
.imgIconesHome {
    max-width: 100% !important;
    width: 3.63vw;
    min-width: 11%;
}
.foto3col-Cent {
    float: left;
    text-align:left;
    margin: 0 auto;
    padding: 10px 10px 15px 0
}
.foto3col-Dir {
    float: left;
    text-align:left;
    margin: 0 auto;
    padding: 10px 10px 15px 0
}
.txt3col {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 20px;
    width: 100%;
    text-align:center;
    color: #9f9f9f;
    vertical-align:middle;
    padding-bottom: 30px;
    margin: 0 auto;
}
.txt3col-center {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 20px;
    width: 100%;
    text-align:center;
    color: #9f9f9f;
    vertical-align:middle;
	padding-bottom: 30px;
	margin: 0 auto;
}
.txtRodape {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #aaaaaa;
    vertical-align:middle;
    list-style-type: none;
}
.txtRodape2 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #aaaaaa;
    vertical-align:middle;
    list-style-type: none;
}
.txtRodape3 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    color: #aaaaaa;
    vertical-align:middle;
    list-style-type: none;
}
.txtRodapeEsq {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #aaaaaa;
    vertical-align:middle;
    list-style-type: none;
}
.txtRodapeDir {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 35px;
    width: 100%;
    text-align: left;
    color: #aaaaaa;
    vertical-align:middle;
    list-style-type: none;
}
.txtQuemSomos {
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    line-height: 1.4em;
    text-align: left;
    color: #9f9f9f;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.txtPlanosHome {
    width: 100%;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    text-align: center;
    color: #9f9f9f;
    margin-top: 0.5em;
    margin-bottom: 2em;
}
.txtPlanos {
    width: 50%;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    text-align: center;
    color: #9f9f9f;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.txtCopyright {
    width: 69%;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    line-height: 7px;
    text-align: left;
    color: #9f9f9f;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.titQuemSomos {
    font-size: 2.4em;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    text-transform: uppercase;
    width: 100%;
    text-align:left;
    color: #9f9f9f;
    vertical-align:middle;
    margin-top: 1.5em;
}
.titPlanos {
    font-size: 2.4em;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: #9f9f9f;
    vertical-align: middle;
    margin-bottom: 1em;
}
.linhaQuemSomos {
	border-bottom: 2px solid #fb4f14;	
	width: 7%;
}
.linhaPlanos {
	border-top: 2px solid #fb4f14;	
	width: 7%;
	margin: 0 auto;
}
.botaoQuemSomos {
    float: left;
    padding: 0.8em 1.1em 0.8em 1.1em;
    background-color: #fb4f14;
    color: #ffffff !important;
    border-radius: 0.2em;
    cursor: pointer;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    /* margin-top: 1em; */
    margin-bottom: 2em;
    justify-content: center;
    letter-spacing: 1px;
}
a.botaoQuemSomos:hover {
	color:#f5f5f5 !important; 
	background:#cc4010; 
	text-decoration: none;
}
.botaoPlanos {
	padding:12px 20px 12px 20px;
	background-color:#fb4f14;
	color:#ffffff !important;
	border-radius:3px;
	cursor:pointer;
	font-family:'Lato'; 
	font-weight:bold; 
	font-size:16px; 
	text-align: center;
	text-decoration: none;
	justify-content: center;
	letter-spacing: 1px;
}
a.botaoPlanos:hover {
	color:#f5f5f5 !important; 
	background:#cc4010; 
	text-decoration: none;
}
a.txt3col:hover {
	color:#ffffff !important; 
	text-decoration: none;
	margin: 0 auto;
	}
a.txt3col:link {
	color:#9f9f9f; 
	text-decoration: none;
	margin: 0 auto;
	}
.inputLogin2de3 {
    width: 77%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    color: #000;
    line-height: 18px;
    padding: 20px 11px;
    margin-top: 15px;
}
.inputLogin3de3 {
    width: 77%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    color: #747474;
    line-height: 18px;
    padding: 20px 11px;
    margin-top: 15px;
}
.inputContato {
    width: 60em;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    color: #747474;
    line-height: 18px;
    padding: 20px 11px;
    margin-top: -15px;
}
.inputContato:focus {
    border: solid 1px #808080;
}
.login-form {
    margin-bottom: 10px;
}
.login-content {
    padding-top: 20px;
    background-color: #f3f3f3;
}
.imgPlanos {
    text-align: center;
    margin-top: 30px;
}
.txtPlanosPassos {
    font-family: 'Lato', sans-serif;
    font-size: 1.7em;
    line-height: 24px;
    color: #333333 !important;
    }
.titlePassos {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    line-height: 24px;
    margin-bottom: 1em;
    color: #333333 !important;
}
.txtBodyPassos {
    font-family: 'Lato', sans-serif;
    margin: 20px 0 20px 0;
    font-size: 21px;
    line-height: 24px;
}
.btnPassos {
    min-height: 60px;
    font-family: 'Lato', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    width: 100%;
    font-size: 20px;
    padding: 17px 8em;
    min-width: 112px;
    background-color: #fb4f14;
}
.btnPassos33 {
    width: 77%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #fb4f14;
    display: block;
    line-height: 18px;
    padding: 20px 11px;
}
.btnPassos23, #loginform input[type="submit"] {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #fb4f14;
    display: block;
    line-height: 18px;
    padding: 20px 11px;
    border: 0px;
    margin: 0 auto;
    text-transform: uppercase;
}
.btn-Passos-planos {
        width: 50%;
        box-sizing: border-box;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        color: #ffffff !important;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        background-color: #fb4f14;
        display: block;
        line-height: 18px;
        padding: 20px 11px;
        border: 0px;
        margin: 0 auto;
        text-transform: uppercase;
        cursor: pointer;
}
.btn-notificacao {
        width: 100%;
        box-sizing: border-box;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        color: #ffffff !important;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        background-color: #fb4f14;
        display: block;
        line-height: 18px;
        padding: 20px 11px;
        border: 0px;
        margin-bottom: 38px;
        text-transform: uppercase;
        cursor: pointer;
}
.btn-notificacao-vermelho {
        width: 100%;
        box-sizing: border-box;
        font-size: 19px;
        font-family: 'Lato', sans-serif;
        color: #ffffff !important;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        background-color: #e8161b;
        display: block;
        line-height: 18px;
        padding: 20px 11px;
        border: 0px;
        margin-bottom: 20px;
        margin-top: 20px;
        cursor: pointer;
}
.btn-notificacao-liberacao {
        width: 70%;
        box-sizing: border-box;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        color: #ffffff !important;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        background-color: #333333;
        display: block;
        line-height: 18px;
        padding: 20px 11px;
        border: 0px;
        margin: 0 auto;
        cursor: pointer;
}
.btn-notificacao-red {
        width: 70%;
        box-sizing: border-box;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        color: #ffffff !important;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        background-color: #e8161b;
        display: block;
        line-height: 18px;
        padding: 20px 11px;
        border: 0px;
        margin: 0 auto;
        cursor: pointer;
}
.tit-notificacao-sup {
    font-family: 'Lato', sans-serif;
    font-size: 22px; 
    font-weight: bold; 
    color: #333333;
    padding-top: 40px;
    padding-bottom: 15px;
}
.tit-notificacao-sup-2 {
    font-family: 'Lato', sans-serif;
    font-size: 22px; 
    font-weight: bold; 
    color: #333333;
    padding-top: 60px;
    padding-bottom: 15px;
}
.tit-notificacao {
    font-family: 'Lato', sans-serif;
    font-size: 22px; 
    font-weight: bold; 
    color: #333333;
    padding-top: 50px;
    padding-bottom: 15px;
}
.txt-notificacao {
    font-family: 'Lato', sans-serif; 
    font-weight: normal; 
    font-size: 17px; 
    color: #333333; 
    padding: 5px 0 10px 0;
    text-align: center;
    line-height: 21px;
}
.txt-notificacao-superior {
    font-family: 'Lato', sans-serif; 
    font-weight: normal; 
    font-size: 17px; 
    color: #333333; 
    padding: 10px 0 10px 0;
    text-align: center;
}
.txt-premium {
    font-family: 'Lato', sans-serif; 
    font-weight: normal; 
    font-size: 17px; 
    color: #333333; 
    padding: 10px 0 10px 0;
    text-align: center;
    line-height: 21px;
}
.btn-gestao-videos {
        width: 40%;
        box-sizing: border-box;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        color: #ffffff !important;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 3px;
        background-color: #fb4f14;
        display: block;
        line-height: 18px;
        padding: 20px 11px;
        border: 0px;
        margin: 0 auto;
        cursor: pointer;
}
.btn-finaliza-cadastro {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 16px 63px;
    background-color: #fb4f14;
    margin-top: 4px;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}
#rememberme {
    margin-top: 6px;
    margin-bottom: 20px;
    }
a.btnPassos:hover {
    color: #f5f5f5 !important;
    background: #cc4010;
    text-decoration: none;
}
a.btnPassos23:hover {
    color: #f5f5f5 !important;
    background: #cc4010;
    text-decoration: none;
}
a.btn-Passos-planos:hover {
    color: #f5f5f5 !important;
    background: #cc4010;
    text-decoration: none;
}
a.btn-finaliza-cadastro:hover {
    color: #f5f5f5 !important;
    background: #cc4010;
    text-decoration: none;
}
a.btnPassos33:hover {
    color: #ffffff !important;
    background: #cc4010;
    text-decoration: none;
}
.containerBotaoPassos {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.selBorderPlanos {
    padding: 3px;
    border: 2px solid transparent;
    max-width: 120px;
    margin: 0 auto;
}
.cellPlanos {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    opacity: .6;
    padding: 3px;
    border: 2px solid #fff;
    max-width: 120px;
    margin: 0 0 20px 0;
    width: 120px;
    height: 120px;
    background-color: #fb4f14;
    color: #fff;
    cursor: pointer;
    display: table-cell;
}
.cellPlanosSelected {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
    padding: 3px;
    border: 3px solid #f3f3f3;
    max-width: 120px;
    margin: 0 0 20px 0;
    width: 120px;
    height: 120px;
    background-color: #fb4f14;
    color: #fff;
    cursor: pointer;
    outline: 2px solid #fb4f14;
    display: table-cell;
}
.topBtnPlanos {
    margin-top: 50px;
}
.topBotBtnPassos23 {
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-decoration: none;
}
.topBotBtnPassos33 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-decoration: none;
}
a.topBotBtnPassos33:hover, {
    color: #ffffff !important;
    background: #cc4010;
    text-decoration: none;
}
.separadorplanos {
    border-bottom: 1px solid #dedede;
}
.txtPlanos13Esq{
    font-family: 'Lato', sans-serif; 
    font-weight: normal; 
    font-size: 17px; 
    color: #333333; 
    padding: 15px 0 15px 0;
    text-align: left;
}
.txtPlanos33Esq{
    font-family: 'Lato', sans-serif; 
    font-weight: bold; 
    font-size: 17px; 
    color: #333333; 
    padding: 15px 0 15px 0;
    text-align: left;
}
.txtPlanos33Dir{
    font-family: 'Lato', sans-serif; 
    font-weight: bold; 
    font-size: 17px; 
    color: #333333; 
    padding: 15px 0 15px 0;
    text-align: right;
}
.txtPlanos13 {
    font-family: 'Lato', sans-serif; 
    font-weight: normal; 
    font-size: 17px; 
    color: #9e9e9e; 
    padding: 15px 0 15px 0;
    text-align: center;
}
.txtPlanos33 {
    font-family: 'Lato', sans-serif; 
    font-weight: normal; 
    font-size: 17px; 
    color: #333333; 
    padding: 15px 0 15px 0;
    text-align: center;
}
.txtPlanosTermos33 {
    width: 77%;
    font-family: 'Lato', sans-serif; 
    font-weight: normal; 
    font-size: 14px; 
    color: #808080; 
    padding: 15px 0 15px 0;
    text-align: left;
    margin-top: 10px;
}
.txtPlanos13Sel {
   font-family: 'Lato', sans-serif; 
   font-weight: normal; 
   font-size: 17px; 
   color: #fb4f14; 
   padding: 15px 0 15px 0;
   text-align: center;
   }
.borderBPlanos {
    border-bottom: 1px solid #cccccc; 
}
.iconPlanosCinzaC {
    color: #9e9e9e; 
    padding: 15px 0 15px 0;
    text-align: center;
    background: url(/wp-content/uploads/icon-checked-planos-cinza.png) center center no-repeat !important;
}
.iconPlanosCinzaR {
    color: #9e9e9e; 
    padding: 15px 0 15px 0;
    text-align: center;
    background: url(/wp-content/uploads/icon-remove-planos-cinza.png) center center no-repeat !important;
}
.iconPlanosLaranjaC {
   color: #fb4f14; 
   padding: 15px 0 15px 0;
   text-align: center;   
   background: url(/wp-content/uploads/icon-checked-planos-laranja.png) center center no-repeat !important;
}
.iconPlanosLaranjaR {
   color: #fb4f14; 
   padding: 15px 0 15px 0;
   text-align: center;   
   background: url(/wp-content/uploads/icon-remove-planos-laranja.png) center center no-repeat !important;
}
.iconPasso3Cinza {
   color: #cdcdcd; 
   text-align: center;
   vertical-align: middle;
   cursos: pointer;
   text-decoration: none;
}
.Passo33 {
    cursor: pointer;
    height: 60px;
    line-height: 60px;
}
.txtPasso33 {
    text-align: left;
    padding: 0;
    position: relative;
}
.rdPassos33 {
    display: block;
    background-color: #fff;
    padding: 20px 3px 20px;
    margin: 5px 0;
    border: 2px solid #ccc;
    }
.boxPgto {
    min-height: 60px;
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-weight: normal;
    border: solid 2px #cdcdcd;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    margin: 5px auto;
    width: 100%;
    font-size: 17px;
    padding: 5px 1em;
    background-color: #ffffff;
}
.txtPgto {
    font-family: 'Lato', sans-serif;
    color: #333333 !important;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
a.txtPgto:hover {
     color:#ff4e02 !important; 
     text-decoration: none;
}
.containerPagePgto {
    padding: 70px; 
    margin: 10%; 
    background-color: #dddddd; 
    text-align: center;
}
.topContainerPassos {
    padding: 5em;
}
.topbotContainerPassos {
    padding: 5em 0 19em 0;
}
.containerPlanoValor {
    width: 77%;
}
#containerRodape {
    background-color:#0f0f0f;
    padding: 22px 0 22px 0;
    margin-top: -40px;
}
.session-rodape{
    background-color: #0f0f0f;
}
.session-rodape ul li a{
    color:#9f9f9f; 
}
.tituloLogadaLaranja {
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #fb4f14;
    font-weight: normal;
    font-size: 1.4vw;
    text-decoration: none;
    display: inline-block;
    min-width: 6em;
    margin: 0 4% .5em 4%;
}
.tituloLogadaCinza {
    font-family: 'Lato', sans-serif;
    color: #a2a2a2;
    font-weight: bold;
    text-align: left;
    font-size: 1.4vw;
    text-decoration: none;
    display: inline-block;
    min-width: 6em;
    margin: 0 4% .5em 4%;
}
.iconeTituloLogada {
    float: left;
    margin-right: 1%;
}
.videos-destaques {
    float: left; 
    width: 100%;
    padding: 0 60px !important;
}
.containerPage404 {
    padding: 70px;
    background-color: #dddddd;
    text-align: center;
    margin: 4% auto;
    width: 40%;
}
.page-template p li{
    font-family: 'Lato', sans-serif !important;
    font-size: 15px !important;
    color: #333333 !important;
    line-height: 1.5 !important;
    background-color: #f3f3f3 !important;
}
.page-home-inicial {
    width: 100% !important;
    padding: 0 !important;
    background-color: #0f0f0f !important;
}
.page-home-login {
    padding: 0 !important;
    background: url(/wp-content/uploads/bg-tela-login.jpg) top center no-repeat;
    background-color: #0f0f0f !important;
    margin: 0 auto;
}
.cd-main-header.fixed{
	position:fixed;
	top:0;
	left:0;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cd-nav-container .menu-navegar {
  background:url(/wp-content/uploads/icone-navegar.png) left center no-repeat;
  padding:0 0 0 20px;
}
.sub-menu{
 	display:none;
}
.menu-item-1:hover .sub-menu{ 
 	display:block; 
}
.menu-item-1 .sub-menu{
	position:fixed;
	left:22%;
	top:50px;
	padding:0 10px;
	width:75%;
	opacity:0.8;
	background: url(https://www.teomidia.org/wp-content/uploads/seta-navegacao-full-bg.png) top left no-repeat !important;
}
.menu-item-1 .sub-menu .sub-menu-item-container{
	float:left;
	padding:25px 5px 10px;
	width:33%;
	list-style:none;
}
.sub-menu .sub-menu-item-container ul li:nth-child(1) a{
	color:#ff4e01;
}
.cd-main-content {
    overflow: hidden;
    padding-bottom: 0 !important;
}
.cd-main-content-home {
    margin-top: -50px;
}
.sub-menu-item-container ul li a{
	font-size: 1.0em;
	line-height: 16px;
    	padding: 5px 10px;
    	height:auto;
	white-space: initial;
}
#cd-primary-nav {
	padding: 0 10px 0 0;
	width:60%;
}
#cd-primary-nav-kids {
	padding: 0 10px 0 0;
	width:28%;
}
#menu-item-6-kids {
        float: right;
}
#menu-item-3-kids {
        width: 30%;
}
#cd-primary-nav .menu-item{
	float:right;
	width:17%;
}
.menu-item-5 {
	 margin-right: -10%; !important;
}
.menu-usuario {
	margin-left: 3%;
	margin-top: 4%;
}
.page-kids-inicial {
    width: 100% !important;
    padding: 0 !important;
    background-color: #ffffff;
}
.page-internas p {
    width: 100% !important;
    padding: 0 !important;
    font-size: 1.1em !important;
    line-height: 1.4em !important;
    color: #333 !important;
}
.page-vivo p {
    width: 100% !important;
    padding: 0 !important;
    font-size: 1.1em !important;
    line-height: 1.4em !important;
    color: #333 !important;
}
.main-spacer-internas {
    width: 100%;
    height: 80px;
    display: block;
    line-height: 1.2;
}
.main-spacer-vivo {
    width: 100%;
    height: 80px;
    display: block;
    line-height: 1.2;
}
.video-header-archive .pull-left{
	margin:20px 0;
}

.page-id-1094 .cd-nav-container{
	display:none;
}

.content-overlay{
	display:block;
}
.content-overlay .synopis-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%
}

.categoria-video-banner{
	font-size: 2vw;
    	line-height: 1;
    	font-weight: 700;
    	color: #fff;
}
.cd-main-header-internas.fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    z-index: 3;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #B4B4B4;
}

.cd-main-header-login.fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    z-index: 3;
    width: 100%;
}

.cd-main-header-paginkids.fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 3;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}
.menu-usuario-internas {
    margin-left: 3%;
    margin-top: 4%;
    color: #2e3233 !important;
}
.txtBanners {
    color: #fff;
    font-weight: 400;
    line-height: 1.35;
    width: 100%;
    font-size: 1.4vw;
    float: left;
    margin-top: .8vw;
}
.txtAssistaBanners {
    color: #fff;
    margin-bottom: .8vw;
    font-size: 1.6vw;
    font-weight: 700;
    float: left;
}
.hero-slider .slick-slide img {
	float: left !important;
}
.cor-categorias {
	color: #002244 !important;
	font-weight: bold !important;
}
.menu-item-1-kids .sub-menu-kids {
    position: fixed;
    left: 29%;
    top: 60px;
    padding: 0;
    width: 46%;
    opacity: 0.8;
    background: url(/wp-content/uploads/seta-navegacao-full-bg.png) top left no-repeat !important;
}
.logo-kids-centro {
    width:87px;
    height:43px;
    position:absolute;
    left:48%;
    padding-top: 10px;
}
#menu-item-2-kids {
    margin-left: 135px !important;
    float: left !important;
}
.sub-menu-item-1-kids {
    list-style: none;
}
.menu-item-1-kids:hover .sub-menu-kids{ 
 	display:block; 
}
.menu-item-1-kids .sub-menu-kids .sub-menu-item-container-kids{
	float:left;
	padding:25px 5px 15px 10px;
	list-style:none;
}
.sub-menu-item-container-kids ul li a{
	font-size: 1.0em;
	line-height: 16px;
    	padding: 5px 10px;
    	height:auto;
	white-space: initial;
}
.sub-menu-kids{
 	display:none;
}
.menu-item-1-kids:hover .sub-menu{ 
 	display:block; 
}
.txtMinhaConta {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 1.3em;
    color: #636363;
}
.txtMinhaContaBlack {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    color: #000000;
}
.txtMinhaContaCor {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 1.3em;
    color: #ff4e02;
}
a.txtMinhaContaCor:hover {
    color:#333333 !important; 
    text-decoration: none;
}
a.txtMinhaContaCor:link {
    text-decoration: none;
    color: #ff4e02;
}
.bordaInferiorConta {
    border-bottom: 1px solid #9a9a9a;
}
.s3bubble-details-full .synopis-inner div.content {
    font-size: 1.125vw !important;
    margin-left: -14px !important;
}
.tablist-item-episodio, .tablist-item-semelhante, .tablist-item-detalhes, .tablist-ficha-tecnica{
    padding: 1em 0.5em 0;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    color: inherit;
    font-weight: 700;
    text-align: center;
    cursor:pointer;
}

.tablist-item-semelhante:hover, .tablist-item-episodio:hover, .tablist-item-detalhes:hover, , .tablist-ficha-tecnica:hover{
	color:#fff;
}
.tablist-item-episodio-selecionado, .tablist-item-semelhante-selecionado, .tablist-item-detalhes-selecionado, .tablist-ficha-tecnica-selecionado{
    border-bottom: 5px solid #ff4e02;
    padding: 10px 0.5em 6px;
}
.botao-play-home {
    background: url(/wp-content/uploads/bt-banner-assistir.png) center center no-repeat !important;
    background-size: 100% !important;
    width: 9vw !important;
    height: 2.6vw !important;
    max-width: 100% !important;
}
.video-titulo-container.container-fluid span {
    margin-top: 35px !important;
}
.video-image {
    max-width: 100%;
    min-width: 56%;
}
.img-titulo-banner {
    max-width: 100%;
    min-width: 56%;
}
img {
    max-width: 100%; 
}
.page-template-page-kids video-header h3 {
    color: blue;
}

.page-template-page-kids #cd-primary-nav .menu-item {
    width: 14% !important;
}    
    
.backgroundHomeQuemSomos {
    background: url(/wp-content/uploads/home-quemsomos.jpg) top left repeat-y;
}

.botao-minha-lista-home{
	background:url(/wp-content/uploads/bt-banner-minha-lista-adicionar.png) top left no-repeat;
	background-size: 100% auto;
	width:11.8vw;
	height:2.6vw;
	float:left;
	margin-left:10px;
}
.botao-minha-lista-home:hover{
	background:url(/wp-content/uploads/bt-banner-minha-lista-adicionar-hover.png) top left no-repeat;
	background-size: 100% auto;
}
.botao-minha-lista-del{
	background:url(/wp-content/uploads/bt-banner-minha-lista-adicionado.png) top left no-repeat;
	width:11.8vw;
	height:2.6vw;
	background-size: 100% auto;
	float:left;
	margin-left:10px;
}
.botao-minha-lista-del:hover{
	background:url(/wp-content/uploads/bt-banner-minha-lista-adicionado-hover.png) top left no-repeat;
	background-size: 100% auto;
}
.botao-minha-lista-home-interna{
	background:url(/wp-content/uploads/bt-banner-minha-lista-adicionar.png) top left no-repeat;
	background-size: 100% auto;
	width:11.8vw;
	height:2.6vw;
	background-size: 100% auto;
	float:left;
	margin-left:10px;
	cursor:pointer;
}
.botao-minha-lista-home-interna:hover{
	background:url(/wp-content/uploads/bt-banner-minha-lista-adicionar-hover.png) top left no-repeat;
	background-size: 100% auto;
	cursor:pointer;
}
.botao-minha-lista-del-interna{
	background:url(/wp-content/uploads/bt-banner-minha-lista-adicionado.png) top left no-repeat;
	width:11.8vw;
	height:2.6vw;
	float:left;
	background-size: 100% auto;
	cursor:pointer;
}
.botao-minha-lista-del-interna:hover{
	background:url(/wp-content/uploads/bt-banner-minha-lista-adicionado-hover.png) top left no-repeat;
	cursor:pointer;
	background-size: 100% auto;
}
.carrossel-titulo-episodios-video {
	font-size: .8vw;
	font-weight: bold;
        margin: 0;
        float: left;
        color: grey;
        padding-top: 0.1vw;
}
.page-template-page-home .page {
    background: #0f0f0f !important;
}
#videos-tela-login {
    width:100%;
    background:url(/wp-content/uploads/bg-tela-login.jpg) top center no-repeat;
    background-size: 100% auto;
    margin-top:10px; 
    list-style-type: none;
}
#videos-tela-login-centro-container {
    padding: 100px 30px 119px 30px;
}
#video-tela-login-centro {
    padding:30px 35px 40px 35px;
    width:462px;
    background-color: #f3f3f3;
    margin:0 auto;
}
#video-tela-login-interna {
    width:100%;
    list-style-type: none;
}
#video-tela-login-lembrar {
    width:100%;
    list-style-type: none;
}
.txth1Login {
    font-size:2.3em; 
    color: #e50914;
    list-style-type: none;
    text-align: left; 
    float: left;
}
.erro-login {
    width:60%;
    text-align:right;
    font-size:13px;
    color:red;
    float:right;
    padding-top:10px;
    list-style-type: none;
}
.texto-superior-entrar {
    width: 40%;
    font-size: 2.3em;
    color: #333333;
    text-align: left;
    float: left;
    list-style-type: none;
    margin-left: -3.8em;
    margin-bottom: 0.5em;
}
.texto-superior-esqueci-senha {
    width: 100%;
    font-size: 2.3em;
    color: #333333;
    text-align: left;
    float: left;
    list-style-type: none;
    margin-left: -1.3em;
    margin-bottom: 0.5em;
}
.txtLoginEmail {
   font-size: 1.2em;  
   font-weight: 400; 
   color: #333333; 
   float: left;
   width: 100%;
}
#loginform label{
   font-size: 1.2em;  
   font-weight: 400; 
   color: #333333; 
   float: left;
   width: 100%;
   margin-top: 10px;
}
#loginform input[type="text"], #loginform input[type="password"] {
   width: 100%;
}

.txtLoginSenha {
    font-size: 1.2em; 
    font-weight: 400; 
    color: #333333; 
    float: left;
    width: 100%;
    padding-top: 12px;
}
.txtLoginCodigo {
    font-size: 1.2em; 
    font-weight: 400; 
    color: #333333; 
    float: left;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 5px;
}
.campo-login-inicio {
    padding:3px 0 0px 0;
}
.esqueceu-senha {
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: none;
    color: #ff4e02 !important;
    margin: 20px 0 0 50px;
}
.erro-cadastro {
    font-size:1.1em;
    font-weight: normal;
    text-align:left;
    cursor:pointer;
    text-decoration: none;
    color: #e40303 !important;
}
.txt-dados-invalidos {
    font-size: 1.3em;
    text-align: right;
    text-decoration: none;
    color: #e40303 !important;
    padding-top: 10px;
    display: none; 
    font-weight: bold;
    list-style-type: none;
}
a.esqueceu-senha:hover {
     color:#0080ff !important; 
     text-decoration: underline;
}
.inputLoginEmail {
    width: 94%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    color: #000;
    line-height: 18px;
    padding: 10px 11px;
    height: 44px;
    margin-top: 0.3em;    
    margin-bottom: 1em;
}
.inputLoginEmail:focus {
    border: solid 1px #808080;
}
.inputLoginPassword {
    width: 94%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    color: #000;
    line-height: 18px;
    padding: 10px 11px;
    height: 44px;
    margin-top: 0.3em;
}
.inputLoginPassword:focus {
    border: solid 1px #808080;
}
.inputLogin {
    width:94%;
    padding:3%;
}
.inputLoginCodigo {
    width: 94%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    color: #000;
    line-height: 18px;
    padding: 10px 11px;
    height: 44px;
    margin-top: 0.3em;    
    margin-bottom: 1em;
}
.inputLoginCOdigo:focus {
    border: solid 1px #808080;
}
.inputPaddingLogin {
    padding:3px 0 5px 0;
}
.txtLoginLembrar {
    font-size: 1.1em;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    color: #333333;
    list-style-type: none;
    margin-left: -1.2em;
}
.txtRecuperar {
    font-size: 1.1em;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    color: #333333;
    list-style-type: none;
}
.lembrarPadding {
    width:100%;
    padding:20px 0 25px 0;
    float:left
}
.checkLembrar {
    float:left;
    list-style-type: none;
    margin-left: -3.2em;
}
.checkRecuperar {
    float:left;
    list-style-type: none;
}
.inputRecuperar input[type="radio"] {
    box-sizing: border-box;
    border: solid 1px #b3b3b36px !important;
    display: block;
    padding: 6px !important;
    margin-left: 95%;
}
.inputTeste input[type="radio"]{
    content: "";
    position: absolute;
    display: block;
    top: 2px;
    left: -36px;
    padding: 0;
    border: 1px solid #b3b3b3;
    background-color: #fff;
    }
.inputLembrar input[type="checkbox"] {
    box-sizing: border-box;
    border: solid 1px #b3b3b36px !important;
    display: block;
    padding: 6px !important;
    margin-left: 35%;
}
.icon-facebook {
    margin-right: 10px;
    margin-top: -2px;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    color: #fff;
}
.fb-login {
    background: 0 0;
    cursor: pointer;
    border: none;
}
.txt-fb-login {
    color: #0080ff;
    cursor: pointer;
    font-size: 1.1em;
}
.txtSemCadastro {
    font-size: 1.2em;
    color: #333333 !important;
    padding-left: 25px;
}
a.txtSemCadastro:hover {
    color:#333333 !important; 
    text-decoration: none;
}
.txtInscrevaLogin {
    color: #ff4e02 !important;
}
a.txtInscrevaLogin:hover {
    text-decoration: underline;
}
.cd-logo-login {
    margin-left: 2.4%;
    margin-top: 0.5%;
    float: left;
    width: 12.2em;
}
.ms-inner-controls-cont {
    margin-top: 50px !important;
}
#erro-login {
     list-style-type: none;
}
#tela-cadastro-base {
    padding: 0 50px 60px 0;
    width: 100%;
    margin-top: 30px;
    color: #333333;
    font-size: 13px;
}
.espacamento-cadastro {
    padding:30px 0 0 0;	
}

.cadastro-esquerda {
     float:left;
     width:49%;
     list-style-type: none;
         margin-left: -25px;
}
.cadastro-direita {
    float:right;
    width:49%;
    list-style-type: none;
    margin-right: 20px;
}
.texto-superior-cadastro {
    width: 40%;
    font-size: 2.3em;
    color: #333333;
    text-align: left;
    float: left;
    list-style-type: none;
    margin-bottom: 0.4em;
}
.txtCadastroTeo {
   font-size: 1.1em;  
   font-weight: 400; 
   color: #333333; 
   float: left;
   width: 100%;
}
#videos-tela-cadastro {
    width:100%;
    background:url(/wp-content/uploads/bg-tela-login.jpg) top center no-repeat;
    background-size: 100% auto;
    margin-top:10px; 
    list-style-type: none;
}
#videos-tela-cadastro-centro-container {
    padding: 60px 30px 120px 30px;
}
#video-tela-cadastro-centro {
    padding:50px 20px 40px 10px;
    width:850px;
    margin:0 auto;
    background-color: #f3f3f3;
    height: 36em
}
#video-tela-cadastro-interna {
    width:100%;
    list-style-type: none;
    margin-left: -1em;
}
#video-tela-cadastro-interna-d {
    width:100%;
    list-style-type: none;
    margin-left: -1em;
}
.inputLoginCadastro {
    width: 100%;
    box-sizing: border-box;
    font-weight: normal;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    color: #000;
    line-height: 18px;
    padding: 18px 11px;
    margin-top: 0.3em;    
    margin-bottom: 0.6em;
}
.inputLoginCadastro:focus {
    border: solid 1px #808080;
}
.txtCadastroNumero {
   font-size: 1.1em;  
   font-weight: 400; 
   color: #333333; 
   float: left;
   width: 30%;
}
.inputLoginCadastroNumero {
    width:6em;
}
.inputLoginCadastroNumero:focus {
    border: solid 1px #808080;
}
.txtCadastroComplemento {
   font-size: 1.1em;  
   font-weight: 400; 
   color: #333333; 
   float: left;
}
.inputLoginCadastroComplemento {
    width: 14.9em;
    box-sizing: border-box;
    font-weight: normal;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    color: #000;
    line-height: 18px;
    padding: 18px 11px;
    margin-top: 0.3em;
    margin-bottom: 0.6em;
    margin-left: 0.6em;
}
.inputLoginCadastroComplemento:focus {
    border: solid 1px #808080;
}
.btnCadastrar {
    font-family: 'Lato', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 16px 6em;
    background-color: #fb4f14;
    margin-top: 4px;
    float: left;
}
a.btnCadastrar:hover {
    color: #f5f5f5 !important;
    background: #cc4010;
    text-decoration: none;
}
.botao-minha-lista-home-interna {
    margin-left: 0 !important;
}
.botao-play-home {
    margin-right: 10px !important;
}
.video-titulo-container container-fluid s3bubble-details-full {
   height: 650px !important;
}
.cd-primary-nav a, .cd-primary-nav ul a {
    border-bottom: transparent !important;
}
.menu-item-1 .sub-menu {
    position: fixed;
    left: 22%;
    top: 50px;
    padding:0 10px;
    width: 75%;
    opacity: 0.8;
    background:#141414 url(/wp-content/uploads/seta-navegacao-full.png) top left no-repeat;
}
.btnCancelarAssinatura {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #333333 !important;
    font-weight: 700;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 0.5em;
    padding: 10px 20px;
    background-color: #e2e2e2;
    margin-top: 4px;
    float: left;
    cursor: pointer;
}
.btn-idioma {
    box-sizing: border-box;
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    color: #2a2a2a !important;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #fcb801 !important;
    display: block;
    line-height: 18px;
    padding: 12px 40px !important;
    cursor: pointer;
}
a.btn-idioma:hover {
    color: #202020 !important;
    background: #d09801;
    text-decoration: none;
}
.btn-idioma {
    width: 300px;
    padding: 1em 1.2em 1em 1.2em !important;
    float: left;
    background-color: #fb4f14 !important;
    color: #ffffff !important;
    border-radius: 0.2em;
    cursor: pointer;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}
a.btn-idioma:hover {
	color:#f5f5f5 !important; 
	background:#cc4010 !important; 
	text-decoration: none;
}
.cd-search-kids input {
    border: #dedddc solid 0.1em;
    color: #999;
    height: 30px;
    width: 120%;
    margin-left: -40%;
    padding: 0 5%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: #ffffff url(/wp-content/uploads/icone-buscar2.png) center left no-repeat;
    padding-left: 30px;
    opacity: 0.9;
}
ul, li
{
    list-style-type: none;
}
.arquive tax-kids {
     background: #f3f3f3 !important;
}

.carrossel-sinopse-episodios-video {
    font-size: .84vw;
    line-height: 1.1vw;
    /* margin: 0.3vw 0 .1833326vw; */
    float: left;
}
.s3bubble-details-full-overlay-select {
    background: url(/wp-content/uploads/fundo-preto-episodios.png) left top repeat !important;
}
.episodios-serie-view {
    background: transparent !important;
}
.carrossel-titulo-episodios-temporada {
	width: 100%;
	float: left;
	font-size: 30px;
	color: #fff;
	margin: -35px 0px 0px 5px;
	position: relative;
}
.txtTransacao {
    font-family: 'Lato', sans-serif; 
    font-weight: normal; 
    font-size: 17px; 
    color: #333333; 
    padding: 15px 0 15px 0;
    text-align: center;
}
.txtBemvindo {
    font-family: 'Lato', sans-serif; 
    font-weight: bold; 
    font-size: 18px; 
    color: #333333; 
    padding: 15px 0 15px 0;
    text-align: center;
}
.txtTransacaoColuna {
    font-family: 'Lato', sans-serif; 
    font-weight: normal; 
    font-size: 15px; 
    color: #333333; 
    border-bottom: 1px solid #e5e5e5;
}
.txtTransacaoColuna2 {
    font-family: 'Lato', sans-serif; 
    font-weight: bold; 
    font-size: 18px; 
    color: #333333; 
    border-bottom: 1px solid #e5e5e5;
}
.txtTransacaoColuna3 {
    font-family: 'Lato', sans-serif; 
    font-weight: normal; 
    font-size: 16px; 
    color: #333333; 
    border-bottom: 1px solid #e5e5e5;
}
.txt-gestao-membros {
    font-family: 'Lato', sans-serif;
    font-size: 18px; 
    font-weight: bold; 
    color: #333333;
}
.txt-lista-membros {
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    font-weight: normal; 
    color: #333333;
}
.txt-membros-right {
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    font-weight: normal !important;  
    color: #fb4f14; 
    text-align: right; 
    cursor: pointer;
}
.txt-lista-right {
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    font-weight: normal !important; 
    color: #fb4f14; 
    text-align: right; 
    cursor: pointer;
}
.txt-lista-right-verde {
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    font-weight: normal !important; 
    color: #0b5841; 
    text-align: right; 
    cursor: pointer;
}
.txt-lista-right-azul {
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    font-weight: normal !important; 
    color: #00225b; 
    text-align: right; 
    cursor: pointer;
}
.checkvideos input[type=radio]{
    display:inline-block;
    padding:0 0 0 15px;
    margin:0 5px 0 0;
    font-weight: normal !important;
}
.checklistagem input[type=radio]{
    display:inline-block;
    padding:0 0 0 15px;
    margin:0 5px 0 30px;
    font-weight: normal !important;
}
.checkvideos input[type=checkbox]{
    display:inline-block;
    padding:0 0 0 15px;
    margin:0 5px 0 0;
    font-weight: normal !important;
}
.checklistagem input[type=checkbox]{
    display:inline-block;
    padding:0 0 0 15px;
    margin:0 5px 0 30px;
    font-weight: normal !important;
}
#ckeckvd label{
    font-size: 16px; 
    font-weight: normal !important; 
}
.footer-cast {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 12px;
    margin-bottom: 0;
    height: 4em;
    position: fixed;
    background: #000000;
    text-align: center;
    border-top: solid 0.05em rgba(255,255,255,0.3);
    display: none;
    bottom: 0px;
    z-index: 9999;
}
.title-footer-cast {
    font-weight: bold;
}
.footer-cast-2 {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 12px;
    height: 20em;
    position: relative;
    background: red;
    text-align: center;
    border-top: solid 0.05em rgba(255,255,255,0.3);
}


.player-footer-cast {
    margin-top: 5px !important;
    margin-bottom: 20px !important;
}
.player-footer-cast-container {
    width: 97% !important;
}
.player-footer-cast .fa-duracao-range {
    height: 2px !important;
}
.cast-duracao {
    font-family: 'Lato', sans-serif !important;
    font-size: 14px !important;
}
.title-footer-cast {
  margin-left: 10px;
}
.fa.fa-3x.fa-stop {
   margin-left: 1% !important;
   font-size: 2.8em !important;
}



.page-palestrantes p {
    width: 100%;
    float: left;
    color: #f2f2f2;
    font-size: 0.93vw !important;
    line-height: 1.05vw;
    font-weight: 100;
    font-family: Lato;
    letter-spacing: 0 !important; 
}
.page-palestrantes .video-header-archive h3 {
    margin-bottom: 0px;
}
.search-results .cd-main-header-paginkids .menu-item .cd-search-trigger img {
        margin-top: 22px;
}
.search-results .cd-main-header-paginkids .menu-item img {
        margin-top: 15px;
}

.page-palestrantes-interna p {
    width: 100%;
    float: left;
    color: #f2f2f2;
    font-size: 1vw !important;
    line-height: 1.30vw;
    font-weight: 100;
    font-family: 'Lato', sans-serif !important;
    letter-spacing: 0 !important;
}
.menu-item-notificacao {
    color: #333333 !important;
}
.titulo-aovivo {
    font-weight: 400;
    text-decoration: none;
    font-size: 2.2vw;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    margin: 0;
}