<ion-view title='<img class="title-image" src="img/logo.png" style="height:95%; margin: 0 auto"/>' style="background-color:#141414;">
  <ion-content padding="true" class="has-header">
    <form id="esqueciMinhaSenha-form3" class="list">
      <div class="spacer" style="width: 300px; height: 30px;"></div>
        <label class="item item-input" id="esqueciMinhaSenha-input10" name="usuario" style="background-color:#fff;">
          <input type="text" placeholder="Informe seu usuário" id="usuario" name="usuario" ng-model="usuario" required>
        </label>
      <div class="spacer" style="height: 10px;"></div>
      <a ng-click="esqueciSenhaSubmeter()" id="esqueciMinhaSenha-button4" class="button button-assertive  button-block icon-right ion-email">Submeter</a>      
      <a ng-click="voltarLogin()" id="esqueciMinhaSenha-button5" class="button button-assertive button-block button-clear">Voltar</a>
    </form>
  </ion-content>
</ion-view>