<ion-view title="<img class='title-image' src='img/logo.png' style='height:95%; margin: 0 auto'/>" style="background-color:#141414;" hide-nav-bar="false">
    <ion-content class="has-header" scroll="true" overflow-scroll="true">
        <div style="{{displayBanner}}; background-color:#000;">
            <ks-swiper-container initial-slide="0" speed="2000" loop="false" show-nav-buttons="false" slides-per-view="1" space-between="0" pagination-clickable="true" override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}"
                on-ready="onReadySwiper(swiper)">
                <ks-swiper-slide class="swiper-slide" ng-repeat="titulo in banners">
                    <span ng-click="selecionarTitulo(titulo)">
						<img src="{{titulo['banner'][0]}}" width="100%" style="width:100% !important;"/>
						<h6 style="text-align:center;"><b>{{titulo['chamada']}}</b></h6>
					</span>
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>
        <div style="background-color:#141414;">
            <div ng-repeat="bloco in blocos">
                <h4 style="color:#f8a20c; width:100%; float:left;" ng-if="bloco.titulo != '' && bloco.imagem != ''">
                    <img src="{{bloco.imagem}}" style="max-height:50px; padding-left: 10px; float:left;" />
                    <span style="padding-left: 10px; float:left; margin: 13px 0;">{{bloco.titulo}}</span>
                </h4>
                <div ng-repeat="lista in bloco['dados']['listas']" style="background-color:#141414; padding: 7px 7px 0 7px">
                    <h5><b>{{lista['titulo']}}</b></h5>
                    <ks-swiper-container initial-slide="0" speed="2000" loop="false" show-nav-buttons="false" slides-per-view="3" space-between="5" pagination-clickable="true" override-parameters="" on-ready="onReadySwiper(swiper)">
                        <ks-swiper-slide class="swiper-slide" ng-repeat="titulo in lista.dados">
                            <span ng-click="selecionarTitulo(titulo, $parent.$parent.$parent.$index, $index)" id='ancora-{{$parent.$parent.$parent.$index}}-{{$index}}' style="color:#FFF;">
								<img src="{{titulo['image'][0]}}"  width="100%" height="100%"/>
							</span>
                        </ks-swiper-slide>
                    </ks-swiper-container>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>