<ion-view title='<img class="title-image" src="img/logo.png" style="height:95%; margin: 0 auto"/>' style="background-color:#141414;" hide-nav-bar="false">
  <ion-content padding="false" class="has-header" scroll="true" overflow-scroll="true">
    <form class="list" style="{{displaySearch}}">
      <div class="item item-input" id="page-search2" style="background-color:#FFF; margin:0px 10px 0px 10px;">
        <input type="text" id="localizarTitulos"  name="localizarTitulos" ng-model="localizarTitulos" ng-click="pesquisarTitulos()" placeholder="Localizar ...">
        <button ng-click="pesquisar()" style="float:left; width:50px; background-color:#f8a20c; color:#FFF; margin:2px;"class="button button-light button-block icon ion-ios-search-strong"></button>
      </div>
    </form>
    <form id="titulo-form9" class="list">
      <div style="width:100%;">      
        <h4 style="color: #fff; text-align:center; {{displayResultados}}"><b>{{categoria}}</b></h4>
        <div class="item item-input" id="page-search2" style="background-color:#141414;" ng-repeat="titulo in dados" ng-click="selecionarTitulo(titulo)">
            <div style="float:left; width:30%; text-align:center;">
              <img style="height:45px;" src="{{titulo['thumb'][0]}}" cache-src="{{titulo['thumb'][0]}}">
            </div>
            <div style="float:left; width:70%; ">
                <h3 style="color: #fff; word-wrap: break-word;">{{titulo['post_title']}}&nbsp;</h3>
                <h6 style="color: #fff; word-wrap: break-word;">{{(titulo['media']['duracao'])}}&nbsp;</h6>              
            </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>