<ion-view title='<img class="title-image" src="img/logo.png" style="height:95%; margin: 0 auto"/>' style="background-color:#141414;" hide-nav-bar="false">
  <ion-content padding="true" class="has-header" scroll="true" overflow-scroll="true">
      <h5><b>Selecione o perfil:</b></h5>
      <div class="spacer" style="width: 100%; height: 10;"></div>
      <button id="login-button1" style="border-radius:23px 23px 23px 23px; width: 100%;" class="button button-assertive" ng-click="trocarPerfil('')">Meu Perfil</button>
      <div class="spacer" style="width: 100%; height: 21px;"></div>
      <button id="login-button3" style="border-radius:23px 23px 23px 23px; width: 100%;" class="button button-assertive" ng-click="trocarPerfil('_kids')">Perfil Curumim</button>
  </ion-content>
</ion-view>
