.faixa-carrossel span{
	font-family:Arial, Helvetica, Tahoma, Verdana, sans-serif !important;
	font-weight:bold !important;
	font-size:19px !important;
	color:#ffffff !important;
	text-decoration:none !important;
}
.faixa-carrossel p{
	font-family:Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-weight:normal;
	font-size:13px;
	color:#ffffff;
	text-decoration:none;
}
#faixa-carrossel-ficha p{
	font-family:Arial, Helvetica, Tahoma, Verdana, sans-serif; font-weight:normal; font-size:13px; color:#ffffff; text-decoration:none;
}
.bx-wrapper .bx-viewport{
	border: 5px solid transparent
}

.bx-wrapper .bx-next {
    right: -28px !important;
    background: url(images/controls.png) -37px 0 no-repeat !important;
}

.bx-wrapper .bx-prev {
    margin-left: -28px !important;
    background: url(images/controls.png) 0 0 no-repeat !important;
}


.bx-wrapper .bx-prev:focus,.bx-wrapper .bx-prev:hover{
    background-position:0 125px;
    opacity: 0.7;
}

.bx-wrapper .bx-next:focus,.bx-wrapper .bx-next:hover{
    background-position:0 0;
    opacity: 0.7;
}






#video-description-container p{
	color:#ffffff !important;
	font-size: 14px !important;
}
.bx-wrapper {
    margin-bottom: 0px !important;
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.bx-viewport{
	height:270px !important;
}
.assista-tambem-interna .bx-viewport{
	height:350px !important;
}

.episodios-serie-view{
	position:relative;
	z-index:9999;
}


.bx-wrapper .bx-controls-direction a {
    height: 250px !important;
    top: -6px !important;
    margin-top: 0 !important;
}

.s3bubble-details-full .synopis-inner ul {
    margin: 0px 0 !important;
}

.detalhes-video-view{
	display:none;
}
.field_left {
float:left;
}

.field_right {
float:left;
margin-left:10px;
}

.clear {
clear:both;
}

#dynamic_form {
width:580px;
}

#dynamic_form input[type=text] {
width:300px;
}

#dynamic_form .field_row {
border:1px solid #999;
margin-bottom:10px;
padding:10px;
float: left;
}

#dynamic_form label {
padding:0 6px;
}


.play-icon-wrap-serie {
    position: absolute;
    left: 38%;
    top: 50px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    width: 4vw;
    height: 4vw;
    line-height: 4vw;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-size: 1.3vw;
    display: none;
}


.temporadas-episodios-container:hover > .play-icon-wrap-serie{
    display:block;
    opacity:0.7;
}

.fa.fa-3x.fa-refresh.fa-spin {
    margin-left: 0% !important;
}

.fa.fa-cc{
	display:none;
}

.fa-cc:before, .fa-audio-description:before{
    content: "" !important;
}

.track-active{
	background: url(/cast/icon-leg-laranja.png)  center left no-repeat;
	width:35px;
	height:20px;
}
.track-inactive{
	background: url(/cast/icon-leg-branco.png) center left no-repeat;
	width:35px;
	height:20px;
}
.audio-dublado{
	background: url(/cast/icon-dub-laranja.png) center left no-repeat;
	width:35px;
	height:20px;
}
.audio-legendado{
	background: url(/cast/icon-dub-branco.png)  center left no-repeat;
	width:35px;
	height:20px;
}