.instituicao-membros-view{display:none;}
.confirma-alteracao, .cancela-alteracao{cursor:pointer;padding:0 15px;width: 30px;height: 30px;float:left;}

.confirma-alteracao.iconPlanosCinzaC:hover{background: url(/wp-content/uploads/icon-checked-planos-laranja.png) center center no-repeat !important;}
.cancela-alteracao.iconPlanosCinzaR:hover{background: url(/wp-content/uploads/icon-remove-planos-laranja.png) center center no-repeat !important;}
