<ion-view title="<img class='title-image' src='img/logo.png' style='height:95%; margin: 0 auto'/>" style="background-color:#141414;" hide-nav-bar="false">
	<ion-content scroll="true" overflow-scroll="true">
    <iframe name="iframeSubmit" id="iframeSubmit" style="display:none; background-color: #fff;"></iframe>
    <form id="perfil-form2" class="list" action="{{urlsubmit}}" method="post" enctype="multipart/form-data" target="iframeSubmit">
      <div class="item item-input" style="border-radius: 0px;  background-color:#fff;">
        <img ng-src="{{user.avatar}}" id="thumb" name="thumb" style="border-radius:10%; margin: 0 auto;"/>
        <!--<a ng-click="alterarAvatar()" class="button button-assertive  button-block button-clear" style="{{displayBtnAtualizar}}"/>Alterar Foto</a>-->
      </div>
      <label class="item item-input" style="display:none;">
          <input type="file" name="imagem" id="imagem"/>
          <input type="text" name="userID" id="userID" value="{{user.id}}"/>
      </label>
      <label class="item item-input" style="background-color:#fff;" id="label-nome">
        <span class="input-label"  style=" width:auto;">Nome:</span>
        <input type="text" placeholder="" id="nome" name="nome" value="{{user.username}}" required readonly/>
      </label>
      <label class="item item-input" style="background-color:#fff;" id="label-nome">
        <span class="input-label" style=" width:auto;">Email:</span>
        <input type="text" placeholder="" id="nome" name="nome" value="{{user.email}}" required readonly/>
      </label>
      <!--<button style="border-radius:23px 23px 23px 23px; {{displayBtnAtualizar}}" class="button button-assertive  button-block icon-right ion-ios-checkmark" ng-click="salvarCadastro()" >Salvar</button>-->
    </form>
  </ion-content>
</ion-view>