<ion-view title='<img class="title-image" src="img/logo.png" style="height:95%; margin: 0 auto"/>' style="background-color:#141414; width:100%;" hide-nav-bar="false">
  <ion-content padding="false" class="has-header" scroll="true" overflow-scroll="true">
    <div id='player' class='player-samba' Style='float:left;width:auto;height:100%'></div>
  </ion-content>
</ion-view>