<ion-view title='<img class="title-image" src="img/logo.png" style="height:95%; margin: 0 auto"/>' style="background-color:#141414;" hide-nav-bar="false">
  <ion-content padding="false" class="has-header" scroll="true" overflow-scroll="true">
      <div style="text-align:center; width:100%;"  class="video-thumbnail" ng-click="playTitulo(titulo,0)">
        <img cache-src="{{titulo['thumb'][0]}}" src="{{titulo['thumb'][0]}}" style="height:auto; width: 100%;"/>
        <i class="icone-play" style="{{displayIconePlay}}"></i>
      </div>
      <!--<h4 style="color:#fff; text-align:center;" ng-bind-html="titulo['post_title']"></h6>-->
      <div style="padding-left:20px;padding-right:20px;">
        <!--<h5 style="color:#7c7b7b; {{displayBtnPlay}}">{{titulo['media']['duracao']}}</h5>-->
        <h5 style="color:#FFF;" ng-bind-html="titulo['post_excerpt']"></h5>
      </div>
      <div id="titulo-button-bar1" class="button-bar" style="padding:5px;">
        <button id="minha-lista" style="font-size:17px;background-color: transparent; color:#FFF; margin:2px 0 2px 15px;{{displayBtnMinhaLista}};border:transparent; " ng-click="minhaLista(titulo)" class="minha-lista  icon {{classeMinhaLista}}"><p>Minha Lista</p></button>
        <div style="background-color: transparent; color:#FFF; margin:2px;{{displayBtnMinhaLista}};float: right;position: absolute;right:30px;" class="liked-buttom">
          <img class="like-up" src="{{likes.up}}"  ng-click="classificarTitulo(1, titulo)" style="height: 40px;"/>
          <img class="like-down" src="{{likes.down}}"  ng-click="classificarTitulo(-1, titulo)" style="height: 40px;">
          <p style="font-size:17px;background-color: transparent; color:#FFF; text-align:center;">Classificar</p>
        </div>
      </div>
      <form id="titulo-form9" class="list">
        <!-- BLOCO FILMES E SERIES COMUNS -->   
        <div ng-if="titulo.post_type == 'series' || titulo.post_type == 'filmes'">
          <div style="margin:2px;{{selectTemporadasDisplay}};">
            <label class="item item-select item-dark" style="background-color: #141414; font-size:17px; margin-bottom:15px;">
              <select name="temporadas"  id="temporadas" class="temporadas" onchange="selecionarTemporada()">
                <option ng-repeat="temporada in temporadas" value="{{temporada}}">{{temporada}}</option>
              </select>
            </label>
          </div>
          <div>
            <h4 style="color: #fff; text-align:center; {{displayEpisodios}}"><b>{{titulo['titulo-episodio']}}</b></h4>
            <table style="width:100%;" cellpadding='0' cellspacing="0" item-width="100%">
              <tr ng-repeat="episodio in titulo.episodios" ng-click="playTitulo(episodio,0)" class="item {{episodio['classeDisplay']}}"  style="background-color:#141414; padding-left:5px; vertical-align: bottom;">
                <td style="width:70px; vertical-align: top;" item-width="70px" align='center'>
                  <img style="height:60px; padding: 0 9px 0 2px;" cache-src="{{episodio['image'][0]}}" src="{{episodio['image'][0]}}">
                </td>               
                <td style='width:100%; vertical-align: top;"'>
                  <h3 style="color: #fff; word-wrap: break-word; white-space: normal !important;">{{episodio['post_title']}}&nbsp;</h3>
                  <h6 style="white-space: normal !important; color:#c3c3c3;" ng-bind-html="episodio['post_excerpt']"></h6>                
                </td>               
                <td style="width:50px; vertical-align: top;" item-width="50px">
                  <button style="float:right;  background-color:#141414; border:0px; margin:0px; padding:0px;">
                    <i class="button ion-ios-play" style="background-color:#141414; color:#FFF; font-size:30px; margin:0px; padding:0px;"></i>
                  </button>
                </td>               
              </tr>
            </table>
          </div>
        </div>
        <!-- BLOCO PALESTRANTES SERIES -->
        <div ng-if="titulo.post_type == 'palestrante' && titulo.series.length > 0">
          <h4 style="color: #fff; text-align:center;"><b>Séries</b></h4>
          <table style="width:100%;" cellpadding='0' cellspacing="0" item-width="100%">
            <tr ng-repeat="episodio in titulo.series" ng-click="selecionarSerie(episodio)" class="item"  style="background-color:#141414; padding-left:5px; vertical-align: bottom;">
              <td style="width:70px; vertical-align: top;" item-width="70px" align='center'>
                <img style="height:60px; padding: 0 9px 0 2px;" cache-src="{{episodio['image'][0]}}" src="{{episodio['image'][0]}}">
              </td>              
              <td style='width:100%;vertical-align: top'>
                <h3 style="color: #fff; word-wrap: break-word; white-space: normal !important;">{{episodio['post_title']}}&nbsp;</h3>
                <h6 style="white-space: normal !important; color:#c3c3c3;" ng-bind-html="episodio['post_excerpt']"></h6>
              </td>               
              <td style="width:50px; vertical-align: top;" item-width="50px">
                <button style="float:right;  background-color:#141414; border:0px; margin:0px; padding:0px;">
                  <i class="button ion-ios-play" style="background-color:#141414; color:#FFF; font-size:30px; margin:0px; padding:0px;"></i>
                </button>
              </td>               
            </tr>
          </table>
        </div>
        <!-- BLOCO PALESTRANTES - VIDEOS -->
        <div ng-if="titulo.post_type == 'palestrante' && titulo.videos.length > 0">
          <h4 style="color: #fff; text-align:center;"><b>Vídeos</b></h4>
          <table style="width:100%;" cellpadding='0' cellspacing="0" item-width="100%">
            <tr ng-repeat="episodio in titulo.videos" ng-click="playTitulo(episodio,0)" class="item"  style="background-color:#141414; padding-left:5px; vertical-align: bottom;">
              <td style="width:70px; vertical-align: top;" item-width="70px" align='center'>
                <img style="height:60px; padding: 0 9px 0 2px;" cache-src="{{episodio['image'][0]}}" src="{{episodio['image'][0]}}">
              </td>               
              <td Style='width:100%;vertical-align: top'>
                <h3 style="color: #fff; word-wrap: break-word; white-space: normal !important;">{{episodio['post_title']}}&nbsp;</h3>
                <h6 style="white-space: normal !important; color:#c3c3c3;" ng-bind-html="episodio['post_excerpt']"></h6>                
              </td>               
              <td style="width:50px; vertical-align: top;" item-width="50px">
                <button style="float:right;  background-color:#141414; border:0px; margin:0px; padding:0px;">
                  <i class="button ion-ios-play" style="background-color:#141414; color:#FFF; font-size:30px; margin:0px; padding:0px;"></i>
                </button>
              </td>               
            </tr>
          </table>
        </div>
      </form>
  </ion-content>
</ion-view>