<ion-view title='<img class="title-image" src="img/logo.png" style="height:95%; margin: 0 auto"/>' id="page1" style="background-color:#141414;">
  <ion-content padding="false" class="has-header">
    <!--
    <div>
      <img src="img/logo.png" style="margin: 0 auto;">
    </div>
    -->
  </ion-content>
</ion-view>